In [24]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
#needed to import qke procedures
import sys
from pathlib import Path

main_dir = str(Path().resolve().parent)
sys.path.insert(1, main_dir)

Try classical SVM

In [26]:
#scikit learn and tools
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [27]:
#load dataset with panda
#data are scaled outside the notebook
env = pd.read_csv('../data/env.sel3.scaled.csv')

In [28]:
#take a look of the dataset
env.describe()

,illuminance,blinds,lamps,rh,co2,temp,occupancy
count,2.865000e+03,2865.000000,2865.000000,2865.000000,2.865000e+03,2.865000e+03,2865.000000
mean,-3.571314e-16,0.801622,0.596464,0.473229,-5.952190e-16,-7.142629e-16,-0.130192
std,1.000000e+00,0.372305,0.489316,0.080185,1.000000e+00,1.000000e+00,0.991662
min,-1.016287e+00,0.000000,0.000000,0.243300,-1.222685e+00,-1.774534e+00,-1.000000
25%,-8.575745e-01,1.000000,0.000000,0.433700,-8.492006e-01,-8.538436e-01,-1.000000
50%,-6.989177e-02,1.000000,1.000000,0.491100,-3.252814e-01,-1.940149e-01,-1.000000
75%,3.357060e-01,1.000000,1.000000,0.524100,7.569402e-01,7.266751e-01,1.000000
max,8.559349e+00,1.000000,1.000000,0.633300,3.583699e+00,2.614091e+00,1.000000

In [29]:
#DEFINE design matrix
Y = env['occupancy']
#X = env[['illuminance', 'blinds','lamps','co', 'rh', 'co2', 'temp']]
X = env[['illuminance', 'blinds','lamps','rh', 'co2', 'temp']]

X.head()

   illuminance  blinds  lamps      rh       co2      temp
0    -0.992774     1.0    0.0  0.4069 -1.001777 -0.061027
1    -0.992774     1.0    0.0  0.4069 -0.892611 -0.061027
2    -0.992774     1.0    0.0  0.4069 -1.002203 -0.061027
3    -0.992774     1.0    0.0  0.4069 -0.867245 -0.061027
4    -0.992774     1.0    0.0  0.4069 -0.958793 -0.061027

In [30]:
#split design matrix (25% of the design matrix used for test)
X_train, X_test, y_train, y_test = train_test_split(X, Y)

In [31]:
#sanity check
print('TRAIN*****')
display(X_train.head())
display(X_train.describe())
print('TEST*****')
display(X_test.head())
display(X_test.describe())

TRAIN*****

      illuminance  blinds  lamps      rh       co2      temp
79      -0.299143     1.0    0.0  0.3959 -1.045187  1.033572
1693    -1.016287     1.0    0.0  0.5454 -0.411241 -1.068671
1758    -0.569541     1.0    0.0  0.5332 -0.521268 -1.068671
2526     0.694278     1.0    1.0  0.5161 -0.320555 -0.981717
2696     0.347462     1.0    1.0  0.5241  0.449638 -0.940798

,illuminance,blinds,lamps,rh,co2,temp
count,2148.000000,2148.000000,2148.000000,2148.000000,2148.000000,2148.000000
mean,-0.002682,0.805671,0.592742,0.473144,-0.010066,-0.002297
std,1.002229,0.369034,0.490274,0.080587,0.989851,1.004929
min,-1.016287,0.000000,0.000000,0.243300,-1.222685,-1.774534
25%,-0.881087,1.000000,0.000000,0.433700,-0.850811,-0.853844
50%,-0.064014,1.000000,1.000000,0.490500,-0.332158,-0.194015
75%,0.331297,1.000000,1.000000,0.524100,0.732661,0.726675
max,8.559349,1.000000,1.000000,0.633300,3.583699,2.614091

TEST*****

      illuminance  blinds  lamps      rh       co2      temp
1127    -1.016287    0.14    0.0  0.4618  0.032308  0.992653
234      4.185946    1.00    1.0  0.3831 -0.804928  0.992653
2388     0.006525    1.00    1.0  0.6138  0.361538 -0.194015
2673    -0.651836    1.00    0.0  0.5259 -0.934298 -1.160741
1546    -0.981017    1.00    0.0  0.4862 -0.715531 -1.774534

       illuminance      blinds       lamps          rh         co2        temp
count   717.000000  717.000000  717.000000  717.000000  717.000000  717.000000
mean      0.008035    0.789491    0.607615    0.473480    0.030155    0.006880
std       0.993946    0.381941    0.486606    0.079022    1.029923    0.985750
min      -1.016287    0.000000    0.000000    0.243300   -1.220534   -1.774534
25%      -0.810549    1.000000    0.000000    0.433700   -0.847903   -0.853844
50%      -0.075770    1.000000    1.000000    0.492900   -0.322696   -0.147981
75%       0.335706    1.000000    1.000000    0.524100    0.886310    0.813629
max       8.559349    1.000000    1.000000    0.633300    3.475396    2.614091

In [32]:
#WARNING: convert data to numpy. Quantum stuff (Qiskit) do not like PANDAS
X_train_np = X_train.to_numpy()
y_train_np = y_train.to_numpy()
X_test_np = X_test.to_numpy()
y_test_np = y_test.to_numpy()

In [33]:
#check the shape of test and training dataset
print(f'Training shape dataset {X_train_np.shape}')
print(f'Label for traing {y_train_np.shape}')

print(f'Test shape dataset {X_test_np.shape}')
print(f'Label for test {y_test_np.shape}')

Training shape dataset (2148, 6)
Label for traing (2148,)
Test shape dataset (717, 6)
Label for test (717,)

In [34]:
#define data for training
K = len(y_train_np)
K_test = len(y_test_np)

print(f'Take {K} sample for training and {K_test} for test')

Take 2148 sample for training and 717 for test

In [35]:
#try SVM using RBF kernel
svm = SVC(kernel='rbf').fit(X_train_np[:K], y_train_np[:K]);
#result...
predictions = svm.predict(X_test_np[:K_test])
accuracy_score(predictions, y_test[:K_test])

0.8214783821478382