In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
#needed to import qke procedures
import sys
from pathlib import Path

main_dir = str(Path().resolve().parent)
sys.path.insert(1, main_dir)

Try classical SVM

In [4]:
#scikit learn and tools
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
#load dataset with panda
#data are scaled outside the notebook
env = pd.read_csv('../data/env.sel2.scaled.csv')

In [6]:
#take a look of the dataset
env.describe()

,illuminance,blinds,lamps,co,rh,co2,temp,occupancy
count,1.093400e+04,10934.000000,10934.000000,1.093400e+04,10934.000000,1.093400e+04,1.093400e+04,10934.000000
mean,2.859327e-17,0.803111,0.504677,-1.871559e-16,0.471725,1.455657e-16,-4.159021e-16,-0.315164
std,1.000000e+00,0.371107,0.498983,1.000000e+00,0.076689,1.000000e+00,1.000000e+00,0.949081
min,-9.310658e-01,0.000000,0.000000,-8.039283e-01,0.243300,-1.145063e+00,-1.711094e+00,-1.000000
25%,-8.848906e-01,1.000000,0.000000,-7.808253e-01,0.431300,-7.923978e-01,-8.078199e-01,-1.000000
50%,2.542024e-02,1.000000,1.000000,-2.725584e-01,0.487400,-3.964529e-01,-1.153100e-01,-1.000000
75%,3.882253e-01,1.000000,1.000000,3.743267e-01,0.519800,6.966369e-01,7.428010e-01,1.000000
max,9.814560e+00,1.000000,1.000000,6.542838e+00,0.633300,3.950372e+00,2.594513e+00,1.000000

In [7]:
#DEFINE design matrix
Y = env['occupancy']
#X = env[['illuminance', 'blinds','lamps','co', 'rh', 'co2', 'temp']]
X = env[['illuminance', 'blinds','lamps','rh', 'co2', 'temp']]

X.head()

   illuminance  blinds  lamps      rh       co2      temp
0     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
1     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
2     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
3     -0.90468     1.0    0.0  0.4069 -0.795139 -0.030001
4     -0.90468     1.0    0.0  0.4069 -0.795139 -0.030001

In [8]:
#split design matrix (25% of the design matrix used for test)
X_train, X_test, y_train, y_test = train_test_split(X, Y)

In [9]:
#sanity check
print('TRAIN*****')
display(X_train.head())
display(X_train.describe())
print('TEST*****')
display(X_test.head())
display(X_test.describe())

TRAIN*****

      illuminance  blinds  lamps      rh       co2      temp
767     -0.911276    1.00    0.0  0.3678 -0.954611  0.225927
7389     0.203525    1.00    1.0  0.4545 -0.332206 -0.933275
7962    -0.931066    1.00    0.0  0.5320 -0.305315 -0.376255
39      -0.898083    1.00    0.0  0.4118 -0.886258 -0.030001
4698     1.199589    0.14    1.0  0.4636  1.345010  1.435311

,illuminance,blinds,lamps,rh,co2,temp
count,8200.000000,8200.000000,8200.000000,8200.000000,8200.000000,8200.000000
mean,-0.000432,0.804070,0.501596,0.471073,-0.002360,0.005669
std,1.011764,0.370183,0.499012,0.076802,1.003680,0.999105
min,-0.931066,0.000000,0.000000,0.243300,-1.145063,-1.711094
25%,-0.884891,1.000000,0.000000,0.425800,-0.796043,-0.807820
50%,0.018824,1.000000,0.500000,0.486800,-0.397357,-0.115310
75%,0.381629,1.000000,1.000000,0.519200,0.696637,0.787965
max,9.814560,1.000000,1.000000,0.633300,3.950372,2.594513

TEST*****

       illuminance  blinds  lamps      rh       co2      temp
7363     -0.865101    1.00    0.0  0.4398 -0.935472 -1.108911
10105     0.295875    1.00    1.0  0.5277  1.255709 -0.807820
6548     -0.891487    1.00    0.0  0.5289 -0.658893 -1.410003
3488     -0.931066    0.04    0.0  0.4569  0.462896  0.828110
7765      0.064999    1.00    1.0  0.5082  1.832093 -0.075164

,illuminance,blinds,lamps,rh,co2,temp
count,2734.000000,2734.000000,2734.000000,2734.000000,2734.000000,2734.000000
mean,0.001296,0.800232,0.513917,0.473678,0.007079,-0.017004
std,0.964035,0.373917,0.498874,0.076328,0.989028,1.002671
min,-0.931066,0.000000,0.000000,0.243300,-1.145063,-1.711094
25%,-0.878294,1.000000,0.000000,0.437400,-0.772354,-0.807820
50%,0.058403,1.000000,1.000000,0.491100,-0.374120,-0.160473
75%,0.399769,1.000000,1.000000,0.523925,0.676132,0.702656
max,7.169381,1.000000,1.000000,0.633300,3.950372,2.594513

In [10]:
#WARNING: convert data to numpy. Quantum stuff (Qiskit) do not like PANDAS
X_train_np = X_train.to_numpy()
y_train_np = y_train.to_numpy()
X_test_np = X_test.to_numpy()
y_test_np = y_test.to_numpy()

In [11]:
#check the shape of test and training dataset
print(f'Training shape dataset {X_train_np.shape}')
print(f'Label for traing {y_train_np.shape}')

print(f'Test shape dataset {X_test_np.shape}')
print(f'Label for test {y_test_np.shape}')

Training shape dataset (8200, 6)
Label for traing (8200,)
Test shape dataset (2734, 6)
Label for test (2734,)

In [12]:
#define data for training
K = len(y_train_np)
K_test = len(y_test_np)

print(f'Take {K} sample for training and {K_test} for test')

Take 8200 sample for training and 2734 for test

In [13]:
#try SVM using RBF kernel
svm = SVC(kernel='rbf').fit(X_train_np[:K], y_train_np[:K]);
#result...
predictions = svm.predict(X_test_np[:K_test])
accuracy_score(predictions, y_test[:K_test])

0.8814923189465984