Data in env.sel3.csv is not scaled
Data in env.sel3.scaled.csv are scaled using standard scaling

In this notebook, data scaled using MinMax ([0 pi]) scaled is produces and stored in env.sel3.minmax.csv

In [67]:
import numpy as np
import pandas as pd
import csv
from sklearn.preprocessing import MinMaxScaler

#load not scaled data
#load dataset with panda
#data are scaled outside the notebook
env = pd.read_csv('env.sel3.csv')  
Y = env[['occupancy']]
X = env[['illuminance', 'blinds','lamps','rh', 'co2', 'temp']]

features = MinMaxScaler(feature_range=(0, np.pi)).fit_transform(X)
env_scaled = pd.DataFrame(features, columns=X.columns)

In [68]:
#take a look to the new scaled dataset
env_scaled.head()

   illuminance    blinds  lamps        rh       co2      temp
0     0.007714  3.141593    0.0  1.317858  0.144392  1.226612
1     0.007714  3.141593    0.0  1.317858  0.215746  1.226612
2     0.007714  3.141593    0.0  1.317858  0.144113  1.226612
3     0.007714  3.141593    0.0  1.317858  0.232325  1.226612
4     0.007714  3.141593    0.0  1.317858  0.172487  1.226612

In [69]:
#some summary
env_scaled.describe()

,illuminance,blinds,lamps,rh,co2,temp
count,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000
mean,0.333425,2.518369,1.873848,1.852158,0.799182,1.270298
std,0.328082,1.169630,1.537233,0.645917,0.653629,0.715849
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.052071,3.141593,0.000000,1.533741,0.244120,0.659075
50%,0.310495,3.141593,3.141593,1.996120,0.586569,1.131413
75%,0.443564,3.141593,3.141593,2.261947,1.293940,1.790488
max,3.141593,3.141593,3.141593,3.141593,3.141593,3.141593

In [70]:
#append the label to the scaled dataset
env_scaled.insert(6,Y.columns[0], Y)
env_scaled.head()

   illuminance    blinds  lamps        rh       co2      temp  occupancy
0     0.007714  3.141593    0.0  1.317858  0.144392  1.226612         -1
1     0.007714  3.141593    0.0  1.317858  0.215746  1.226612         -1
2     0.007714  3.141593    0.0  1.317858  0.144113  1.226612         -1
3     0.007714  3.141593    0.0  1.317858  0.232325  1.226612         -1
4     0.007714  3.141593    0.0  1.317858  0.172487  1.226612         -1

In [74]:
#salve to csv
env_scaled.to_csv('env.sel3.minmax.csv', quoting=csv.QUOTE_STRINGS, index=False)