Data in env.sel3.csv is not scaled
Data in env.sel3.scaled.csv are scaled using standard scaling

In this notebook, data scaled using MinMax ([0 pi] or [0,2pi]) scaled is produces and stored in env.sel3.minmax.csv

In [ ]:
import numpy as np
import pandas as pd
import csv
from sklearn.preprocessing import MinMaxScaler

#load not scaled data
#load dataset with panda
#data are scaled outside the notebook
env = pd.read_csv('env.sel3.csv')  
Y = env[['occupancy']]
X = env[['illuminance', 'blinds','lamps','rh', 'co2', 'temp']]

#features = MinMaxScaler(feature_range=(0, np.pi)).fit_transform(X) #produce pi_minmax
features = MinMaxScaler(feature_range=(0, 1)).fit_transform(X) #produce 2pi_minmax
env_scaled = pd.DataFrame(features, columns=X.columns)

In [2]:
#take a look to the new scaled dataset
env_scaled.head()

   illuminance    blinds  lamps        rh       co2      temp
0     0.015428  6.283185    0.0  2.635715  0.288783  2.453224
1     0.015428  6.283185    0.0  2.635715  0.431491  2.453224
2     0.015428  6.283185    0.0  2.635715  0.288226  2.453224
3     0.015428  6.283185    0.0  2.635715  0.464651  2.453224
4     0.015428  6.283185    0.0  2.635715  0.344975  2.453224

In [3]:
#some summary
env_scaled.describe()

,illuminance,blinds,lamps,rh,co2,temp
count,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000
mean,0.666851,5.036739,3.747695,3.704317,1.598365,2.540596
std,0.656164,2.339261,3.074465,1.291833,1.307258,1.431698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.104141,6.283185,0.000000,3.067483,0.488240,1.318150
50%,0.620990,6.283185,6.283185,3.992239,1.173138,2.262826
75%,0.887129,6.283185,6.283185,4.523893,2.587881,3.580976
max,6.283185,6.283185,6.283185,6.283185,6.283185,6.283185

In [4]:
#append the label to the scaled dataset
env_scaled.insert(6,Y.columns[0], Y)
env_scaled.head()

   illuminance    blinds  lamps        rh       co2      temp  occupancy
0     0.015428  6.283185    0.0  2.635715  0.288783  2.453224         -1
1     0.015428  6.283185    0.0  2.635715  0.431491  2.453224         -1
2     0.015428  6.283185    0.0  2.635715  0.288226  2.453224         -1
3     0.015428  6.283185    0.0  2.635715  0.464651  2.453224         -1
4     0.015428  6.283185    0.0  2.635715  0.344975  2.453224         -1

In [ ]:
#salve to csv
env_scaled.to_csv('env.sel3.bw_0_1.csv', quoting=csv.QUOTE_STRINGS, index=False)